- if tweet.errors.any?
  = render :partial => 'tweets/error_explanation'

= form_for(@tweet, html: { class: 'well clearfix' }) do |form|

  .well.clearfix
    = form.text_area :content, size: "50x5", placeholder: "What's happening?"
    %br
    = link_to 'Back', tweets_path, class: 'btn btn-primary pull-right'
    = form.submit 'Tweet', class: 'btn btn-primary pull-right'
