%p#notice= notice


- @tweets.each do |tweet|
  .card.w-50
    .card-header
      = current_user.name
      = "@#{current_user.nickname}"
      \-
      = tweet.created_at.strftime("%d %b %Y")
    .card-body.btn-group
      %blockquote.blockquote.mb-0
        %p
          = tweet.content

      .btn-group
        %button.btn.btn-default.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        .dropdown-menu
          .dropdown-item= link_to 'Show', tweet
          .dropdown-item= link_to 'Edit', edit_tweet_path(tweet)
          .dropdown-divider
          .dropdown-item= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }


= render :partial => 'timeLine'