%p#notice= notice

.col-8
  .list-group
    .a.list-group-item.list-group-item-action.flex-column.align-items-start
      .card-img-top
        = image_tag current_user.image
      .d-flex.w-100.justify-content-between
        %h5.mb-1
          %strong#username
            = current_user.name
          %nickname
            = "@#{current_user.nickname}"

          %small.text-muted#timedate
            \•
            = @tweet.created_at.strftime("%d %b %Y")
      %p.mb-1#tweet
        = link_to "#{@tweet.content}", @tweet
      %small.text-muted
        - if current_user
          = link_to ' Edit ', edit_tweet_path(@tweet)
          = link_to 'Back |', tweets_path
          = link_to ' Destroy |', @tweet, method: :delete, data: { confirm: 'Are you sure?'}
